@function toRem($pixels) {
    $rem: calc($pixels / 16) + rem;
    @return $rem;
}



@function increment($var1, $var2) {
    $var1: $var1 + $var2;
    @return $var1;
}


@mixin article-card($color, $border-color, $font-size) {
    color: $color;
    border: 1px solid $border-color;
    font-size: $font-size;
}

%text-style {
    color: green;
    border-bottom: toRem(1) solid blue;
}
body {
    .all-container {
        border: toRem(1) solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: toRem(11.2);
        gap: toRem(8);
        h1 {
            @extend %text-style;
        }
        h2 {
            @extend %text-style;
            padding: toRem(16);
            border: toRem(1) solid red;
        }
        .main {
            display: flex;
            article {
                text-align: center;
            }
            .blue {
                @include article-card(blue, green, toRem(16));
            }
            .red {
                @include article-card(red, green, toRem(16));
            }
        }
        .squares-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .square {
                height: toRem(45);
                width: toRem(45);
                border: toRem(1) solid red;
            }

            $rems: toRem(16), toRem(32), toRem(48);
            @each $rem-val in $rems {
                .fs-#{$rem-val} {
                    font-size: $rem-val;
                }
            }
            $white-color: white;
            $black-color: black;
            $amount: 0;
            $ntype: 1;
            @for $times from 1 to 20 {
                @if ($times != 10){
                    div:nth-of-type(#{$ntype}) {
                        background-color: darken($white-color, $amount);
                        color: lighten($black-color, $amount);
                    }
                } @else {
                    div:nth-of-type(#{$ntype}) {
                        background-color: blue;
                        color: red;
                    }
                    
                }
                $amount: $amount + 5;
                $ntype: $ntype + 1;
            }  
        
        
        
    }

        .footer {
            @include article-card(green, blue, toRem(24));
            width: 100%;
            text-align: center;
        }
    
    }
 }


